<div class="footer-menu">
    <ul class="navbar">

        <a href="/">
            <li><i class="fa fa-home" aria-hidden="true"></i></li>
        </a>
        <a href="/content/writepost">
            <li><i class="fa fa-upload" aria-hidden="true"></i></li>
        </a>
        <a href="/chatlist">
            <li><i class="fas fa-comment"></i> </li>

        </a>
        <a href="/myprofile">
            <li>
                <div class="user-logo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbTP37Cs0uMaKlaNPKkfspc7Nmjnu_qjhE4g&amp;usqp=CAU" alt="">
                </div>
            </li>
        </a>
     

    </ul>
</div>