
<div class="left-panel">
    
    <div class="logo">
        <span class="openLogo">AZATAMIT  </span>
    </div>

    <ul class="navbar">
        <a href="/"><li class="home"><i class="fa fa-home" aria-hidden="true"></i><span class="navText">Home</span> </li></a> 
        <a href="/chatlist"><li class="chat"><i class="fas fa-comment"></i> <span class="navText">Public group</span> </li></a>
     
    </ul>

    <hr>
    <ul class="navbar userNav">
        <a href="../content/liked"><li><i class="fa fa-thumbs-up"></i> <span class="navText">liked</span> </li></a>
    </ul>

</div>

<script> 
    if('<%=name%>'!==''){
        document.querySelector('.<%=name%> > i').classList.add('active')
    }
</script>