<link rel="stylesheet" href="/base/popup.css">
 
 <div class="popup">
    <header>
      <span>Share</span>
      <div class="close">x</div>
    </header>
    <div class="content">
      <p>Share this link via</p>
      <ul class="icons" style="width: 150px;">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>


      </ul>
      <p>Or copy link</p>
      <div class="field">
        <i class="url-icon uil uil-link"></i>
        <input type="text" readonly value="https://codepen.io/coding_dev_">
        <button>Copy</button>
      </div>
    </div>
  </div>

<script src="../scripts/modals.js"></script>