<html lang="en">

<head>
    <%- include ('partials/head.ejs') %>
        <link rel="stylesheet" href="/write-post/center-panel.css">

</head>

<body>
    <%- include ('partials/header.ejs') %>

        <div class="main">
            <%- include ('partials/left-panelV1.ejs',{name:''})%>

                <div class="center-panel">

                    <div class="content">
                        <div class="title">
                            <input type="text" placeholder="Title">
                        </div>
                        <div class="select-category">
                            <input type="text" placeholder="search  category">
                            <div class="categorys">
                                <ul>
                                   

                                </ul>
                              
                            </div>
                        </div>


                        <div class="post-content">
                            <div class="editor" id="editorjs"></div>
                        </div>
                        <button class="save savebutton">save</button>

                    </div>

                </div>

        </div>

        <%- include ('partials/footer-menu.ejs') %>

            <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0 "></script>

            <script src="/scripts/editor.js"></script>

            <script src="/scripts/write_post.js" type="module"></script>

</body>

</html>