.footer-menu{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--darck-gray);
    bottom: 0;
    right: 0;
    display: none;
    border-top:#fff 1px solid;
   
    
}

.footer-menu .navbar{
    display: flex;
    font-size: 25px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    color: aliceblue;

}

.footer-menu .navbar  li{
    margin-right: 20px;
    list-style: none;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.footer-menu .navbar li .user-logo{
    width: 40px;   
    height: 40px;
    border-radius:50px ;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer-menu .navbar li .user-logo img{
    width: 150%;
}